<div class="comment-container">
<h3>Add a new Comment</h3>
<div class="comment-form">

<div>
<%= f.label :text, required: true%>
<%= f.text_field :text, required: true %>
</div>
<%= f.submit "Submit" %>
</div>
</div>
<% end %>
