<h1>Recent Posts</h1>
<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
  <!-- Display other post information -->

  <h3>Recent Comments</h3>
  <% post.recent_comments.each do |comment| %>
    <p><%= comment.content %></p>
    <!-- Display other comment information -->
  <% end %>
<% end %>
